.text-block__content {
  text-align: justify;
}

.instructions {
  padding-top: 20px;
}

.ant-carousel .slick-slide {
  overflow: hidden;
}

.recipe {
  &__title {
    text-align: center;
  }

  &__original-link {
    font-size: 16px;
  }

  &__intro {
    text-align: justify;
  }
}

.image-carousel {
  max-width: 640px;
  margin: 80px auto 50px auto;

  &__slide {
    display: flex;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }
}
