.text-block__content {
  text-align: justify;
}

.instructions {
  padding-top: 20px;
}

.ant-carousel .slick-slide {
  overflow: hidden;
}

.recipe {
  &__intro {
    text-align: justify;
  }
}

.credits {
  &,
  &__icon,
  a {
    font-size: 16px;
    vertical-align: middle;
  }
}

.image-carousel {
  max-width: 640px;
  margin: 30px auto;

  @media (min-width: @screen-md-min) {
    margin: 70px auto;
  }

  &__slide {
    display: flex;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }
}
