@page-max-width: 1300px;
@mobile-layout-padding: 20px;
@desktop-x-layout-padding: 50px;
@desktop-y-layout-padding: 90px;

body {
  background-color: @layout-body-background;
}

.layout__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: @page-max-width;

  @media (min-width: @screen-md-min) {
    padding: @desktop-x-layout-padding;
  }
}

.layout__content {
  background-color: @white;
  width: 100%;
  min-height: 800px;

  padding: @mobile-layout-padding;
  @media (min-width: @screen-md-min) {
    padding: @desktop-x-layout-padding;
  }
}

.layout__header {
  padding: 0;
  &-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: @page-max-width;

    padding: 0 @mobile-layout-padding;
    @media (min-width: @screen-md-min) {
      padding: 0 @desktop-x-layout-padding;
    }
  }

  &-menu {
    margin-left: 20px;
    min-width: 200px;
  }
}

.logo {
  height: 50px;
  width: 50px;
  align-self: center;
  cursor: pointer;
}

.center-align {
  text-align: center;
}
